<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwt.demo.mapper.UserMapper">

    <resultMap id="SysUserResult" type="com.mwt.demo.entity.SysUser" >
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"></result>
        <result column="company" property="company" jdbcType="VARCHAR"></result>
        <result column="department" property="department" jdbcType="VARCHAR"></result>
        <result column="mainBusiness" property="mainBusiness" jdbcType="VARCHAR"></result>
        <result column="role" property="role" jdbcType="VARCHAR"></result>
        <result column="tel" property="tel" jdbcType="BIGINT"></result>
    </resultMap>

    <!--，查询所有信息，查询一组集合，返回一个集合-->
    <select id="findUserInfo" resultMap="SysUserResult">
        select * from sys_user;
     </select>

    <!--查询单个实体，登录查询，根据用户名和密码-->
    <select id="login" parameterType="com.mwt.demo.entity.SysUser" resultMap="SysUserResult">
        select * from sys_user where username=#{username} and password=#{password};
    </select>

    <!--插入注册信息-->
    <insert id="register" parameterType="com.mwt.demo.entity.SysUser">
        insert into sys_user(username,password,tel,email,company,department,main_business,role) values (#{username},#{password},#{tel},#{email},#{company},#{department},#{mainBusiness},#{role})
    </insert>

</mapper>