<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
</head>
<body>
<div class="container">
    <form action="/api/user/loginTest" method="post" >
        <div>
            <h2 >用户登录</h2>
        </div>
        <div >
            <label for="username" >用户名：</label>
            <div >
                <input type="text"  id="username" name="username" placeholder="请输入用户名" />
            </div>
        </div>
        <div>
            <label for="password">密码：</label>
            <div>
                <input type="password"  id="password" name="password" placeholder="请输入密码" />
            </div>
        </div>
        <div >
            <div>
                <button >登录</button>
            </div>
            <div>
                <button ><a href="register.html">注册</a> </button>
            </div>
        </div>
    </form>
</div>
<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>